footer{
  padding-top:64px;
  padding-bottom:64px;
  align-items: center;
  text-align: center;
  background-color: #f1f1f1;
}

footer img{
  width:30px;
  opacity: 0.50;
  margin-right:-8px;
}
footer img:hover{
  opacity: 0.30;
}
.fa-square-snapchat{
  width:50px;
  border-radius:20px;
}

