*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family:Verdana,sans-serif;
  font-family: "Segoe UI", Arial, sans-serif;
}
body{
  margin:0;
  /* height: 3000px; */
  padding-top:42px;
  font-size:15px;
  line-height: 1.5;
}