
.header{
  background-color: #000;
  position: fixed;
  top:0;
  left:0;
  right:0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}
.navbar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar a{
  color:white;
  text-decoration:none;
  padding:13px 20px;
  font-size:15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: #ccc;
  color:#000;
}
.navbar li{
  float: left;
  padding-right:9px;
}
.search-button{
  background-color: black;
  border:none;
  position: absolute;
  right:0;
  top:0;
  bottom:0;
  padding-left:22px;
  padding-right:22px;
  
}
.search-button:hover{
  background-color: tomato;
  cursor: pointer;
}
.search-icon{
  width:18px;
}
