.background-image-div{
  width:100%;
  position:relative;
  display: flex;
  justify-content: center;
}
.background-image-1{
  width:100%;
} 
.background-image-text-1{
  position:absolute;
  bottom:35px;
  text-align: center;
}
.background-image-text-1 h3{
  color:white;
  font-size: 23px;
  font-weight: normal;
  padding-bottom:23px;
}
.background-image-text-1 p{
  color:white;
  font-weight: 550;
  font-size:15px;
  padding-bottom:15px;
}
.buy-tickets-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  padding-top:32px;
  padding-bottom:32px;
}
.newyork-div{
  background-color: white;
  margin-bottom: 16px;
}
.newyork-image{
  width:100%;
  object-fit: cover;
  object-position: center; 
}
.newyork-image:hover{
  opacity: 0.80;
}
.newyork-description-div{
  padding-top:12px;
  padding-left:15px;
  margin-bottom:16px;

}
.newyork-description-div b{
  font-weight: bolder;
  font-family: Arial;
}
.newyork-description-div p{
  margin-bottom:18px;
}
.event-date{
  color:gray;
  font-size:15px;
  letter-spacing: -1px;
}
.newyork-para{
  font-size:14px;
  line-height:22px;
}
.buy-tickets-button{
  color:white;
  background-color: black;
  border:none;
  padding:11px 17px;
  font-size:14px;
  cursor: pointer;
}
.buy-tickets-button:hover,
.send-button:hover
{
  color: #000;
  background-color: #ccc;
}

